/* Color Palette */
:root {
  /* --color-accent: #ff3400; */
  --color-body: #8f8c9a;
  --color-body-dark: #5c5577;
  --color-heading: #1b0760;
  --color-plain: #fff;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-nav-content: #d0cdda;
  /* --color-badge-primary: #126de4; */
  /* --color-badge-secondary: #02cdf1; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-primary);
  color: var(--color-plain);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

a {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    /* font-size: 1.8rem; */
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* nav-bar */
.nav-bar {
  /* background: #304353; */
  /* width: 100%; */
  align-items: center;
  /* box-shadow: 0 0 18px 1px grey; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 6rem;
  width: 100vw;
}

.nav-bar--primary {
  background-color: var(--color-plain);
}

.logo,
.nav-links a {
  color: var(--color-body);
  display: block;
}

.nav-links {
  padding: 0;
}

.nav-links li > *,
.logo {
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.nav-links.collapsible--expanded {
  display: inline-block;
  width: 100%;
}

.nav-links > * {
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 700px) {
  /* navbar */
  .nav-links {
    display: none;
  }

  .nav-bar {
    padding: 1rem 3rem;
  }

  .nav-links li > * {
    margin: 1rem auto;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 701px) {
  /* navbar */
  .nav-links {
    display: flex;
    margin: 0;
  }

  .nav-links > * {
    /* list-style: none; */
    margin: 0 2rem;
  }

  .nav-links > li:last-of-type {
    margin-right: 0;
  }

  .menu-icon {
    display: none;
  }

  .nav-bar {
    padding: 1.2rem 4rem;
  }
}

/* insert hamburger */
.nav__menu {
  cursor: pointer;
  fill: #aec3c7;
  height: inherit;
  vertical-align: text-top;
  /* width: 30px; */
}

.menu-icon:hover .nav__menu {
  fill: #fff;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav-links a:hover,
.logo:hover {
  color: var(--color-plain);
}

.block {
  background-color: black;
}
