/* Color Palette */
:root {
  --color-accent: #ff3400;
  --color-badge-primary: #126de4;
  --color-badge-secondary: #02cdf1;
  --color-body-dark: #5c5577;
  --color-body: #8f8c9a;
  --color-heading: #1b0760;
  --color-nav-content: #d0cdda;
  --color-plain: #fff;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background-color: var(--color-primary);
  color: var(--color-plain);
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: Inter, Arial, Helvetica, sans-serif; */
  color: var(--color-body);
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: "IM Fell Double Pica", serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

a {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    /* font-size: 1.8rem; */
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* nav-bar */
.nav-bar {
  /* background: #304353; */
  /* box-shadow: 0 0 18px 1px grey; */
  /* width: 100%; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 6rem;
  width: 100vw;
}

.nav-bar--primary {
  background-color: var(--color-plain);
}

.logo,
.nav-links a {
  color: var(--color-body);
  display: block;
}

.nav-links {
  padding: 0;
}

.nav-links li > *,
.logo {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav-links.collapsible--expanded {
  display: inline-block;
  width: 100%;
}

.nav-links > * {
  list-style: none;
  text-align: center;
}

@media screen and (max-width: 700px) {
  /* navbar */
  .nav-links {
    display: none;
  }

  .nav-bar {
    padding: 1rem 3rem;
  }

  .nav-links li > * {
    margin: 1rem auto;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 701px) {
  /* navbar */
  .nav-links {
    align-items: center;
    display: flex;
    height: 36px;
    margin: 0;
  }

  .nav-links > * {
    /* list-style: none; */
    margin: 0 2rem;
  }

  .nav-links > li:last-of-type {
    margin-right: 0;
  }

  .menu-icon {
    display: none;
  }

  .nav-bar {
    padding: 1rem 4rem;
  }
}

/* insert hamburger */
.nav__menu {
  /* width: 30px; */
  cursor: pointer;
  fill: #aec3c7;
  height: inherit;
  vertical-align: text-top;
}

.menu-icon:hover .nav__menu {
  fill: #fff;
}

.nav-links a:hover {
  transform: scale(1.2);
}

.nav-links a:hover,
.logo:hover {
  color: var(--color-plain);
}

.block {
  --block-padding: 6rem;
  padding: var(--block-padding) 2rem;
}

.block--dark {
  background-color: black;
}

.block--colored {
  background-color: #651288fa;
}

.block--arrow-down {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
  padding-bottom: 6rem;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 4rem;
}

/* .grid--cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  } */

/* grid */
.grid {
  display: grid;
}

/* hero section */
.hero {
  text-align: center;
}

.hero h1 {
  color: var(--color-plain);
}

@media screen and (max-width: 425px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .grid--cols-2 {
    align-items: center;
    grid-template-columns: 1fr;
  }

  .block.hero {
    /* padding: 0 2rem; */
  }

  .hero .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 650px) {
  .hero .grid--cols-2 {
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__logo {
  max-width: 489px;
  width: 100%;
}

/* price card */
.block-price .price__header {
  font-size: 4rem;
  text-align: center;
  text-transform: capitalize;
}

.pricing {
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 0 0 6px 1px rgb(0 0 0 / 30%);
  /*consider removing the 3 styles below 
  when putting the cards in a grid, in 
  case it affects the presentation.*/
  margin: 4rem auto;
  max-width: 500px;
  transition: all 0.3s ease-out;
  width: 90%;
}

.pricing:hover {
  transform: scale(1.05);
}

.pricing .pricing__header {
  font-size: 3rem;
  margin-top: 0;
  padding: 1rem 4rem;
  text-align: center;
  text-transform: capitalize;
}

.price__list {
  /* padding-right: 0; */
  margin: 0;
  padding: 0 0 1rem 3rem;
}

.price__list li {
  font-size: 1.8rem;
  list-style-image: url(../images/tick.svg);
}

.price__card {
  padding: 1rem;
}

.price__card li {
  margin: 1rem 0;
}

/* buttons */
.btn {
  border-radius: 50px;
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem auto;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  transition: all 0.3s;
  width: 80%;
}

.btn-primary {
  background-color: var(--color-plain);
  border: 2px solid var(--color-heading);
  color: var(--color-heading);
}

/* .btn-secondary {
    background-color: var(--color-plain);
    color: var(--color-heading);
} */

.btn:hover {
  background-color: var(--color-heading);
  color: var(--color-plain);
  cursor: pointer;
}

/* price block */
@media screen and (max-width: 767px) {
  .block-price .grid--cols-2 {
    grid-template-columns: 1fr;
  }

  .container.block-price {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .block-price .grid--cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .container.block-price {
    padding: 0 2rem;
  }

  .block-price .pricing {
    max-width: 100%;
  }

  .block-price .price__card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .price__list {
    flex-grow: 1;
  }
}

.pricing:first-child .pricing__header {
  /* for testing purpose. restyle both price headers before build */
  background-color: darkorange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* gallery block */
.gallery-block .grid--cols-2 {
  align-items: center;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 10px;
}

.gallery-block .gallery__image {
  font-size: 1.6rem;
  margin: 2rem auto;
  text-align: center;
}

.gallery-block img {
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: 350px;
  transition: all 0.3s;
  width: 85%;
}

.gallery-block .gallery__heading {
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.gallery-block img:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .gallery-block .grid--cols-2 {
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  .gallery-block .gallery__image {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-block .grid--cols-3 {
    /* column-gap: 10px; */
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 10px; */
  }
}

/* contact block */
.contact * {
  display: block;
  margin: auto;
  max-width: 90%;
  width: 100%;
}

.contact-form * {
  font-size: 1.5rem;
}

.contact__heading {
  font-size: 2.4rem;
  margin: 2rem;
  text-transform: capitalize;
  text-align: center;
}

/* .contact__heading::before, */
.contact__heading::after {
  content: "";
  border-bottom: 2px solid red;
  display: flex;
  width: 100px;
  position: relative;
  top: 1.2rem;
  right: calc(-50% + 50px);
}

.contact__body {
  margin: 2rem auto;
  text-align: center;
}

.submit {
  width: initial;
}

.contact__input {
  border-radius: 5px;
  border: 2px solid rgb(58, 57, 57);
  line-height: 1;
  outline: none;
  padding: 0.5rem;
}

.contact__input:focus,
.contact__input:active {
  border: 2px solid dodgerblue;
  box-shadow: 0 0 4px 0 dodgerblue;
}

.submit {
  background-color: var(--color-body);
  border-radius: 30px;
  border: 2px solid #da935b;
  color: rgb(77, 76, 170);
  font-weight: 600;
  margin: 3rem auto;
  outline: none;
  padding: 1rem 4rem;
  transition: all 0.3s ease-out;
}

.submit:hover {
  background-color: #da935b;
  border: 2px solid rgb(179, 169, 199);
  color: var(--color-plain);
  cursor: pointer;
}

#comment {
  height: 150px;
}

@media screen and (min-width: 650px) {
  .contact-form {
    max-width: 584px;
  }

  .contact-form * {
    font-size: 1.6rem;
  }

  .contact__heading {
    font-size: 2.8rem;
  }

  .contact__input {
    padding: 0.7rem;
  }
}

.contact-form label {
  margin-top: 2rem;
}

h2,
h3 {
  border-bottom: 2px solid #e0c47f;
  padding-bottom: 1rem;
}

/* footer section */
.footer-block {
  /* padding-bottom: 2rem; */
}

.footer-block .grid {
  align-items: center;
  font-size: 1.8rem;
  justify-content: center;
  row-gap: 10px;
  text-align: center;
}

.footer-block .grid > * {
  padding: 2rem 0;
}

.footer__contact {
  margin: 0;
}

.footer-block .links {
  margin: 0;
  padding: 0;
}

.footer-block .links li {
  align-items: center;
  display: inline-flex;
  list-style: none;
}

.phone::before,
.ig_handle::before {
  content: " ";
  font-style: italic;
  margin: 0 0.15rem;
}

.phone,
.ig_handle {
  font-style: italic;
}

.footer-block a {
  color: var(--color-body);
  text-decoration: none;
}

.brand-logo {
  order: 1;
}

.brand-logo img {
  max-width: 160px;
  width: 50%;
}

.copyright {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer-block .grid--cols-3 {
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .brand-logo {
    order: 0;
  }
}
