<section class="block block-price">
    <div class="container">
        <h2 class="price__header">Place your orders</h2>
        <div class="grid grid--cols-2">
            <article class="pricing">
                <div class="price__card">
                    <h3 class="pricing__header">
                        Perfume Oil Pre-Order
                    </h3>
                    <ul class="price__list">
                        <li>500ml - N21,000</li>
                        <li>1000ml (1kg) - N39,000</li>
                        <li>1 carton (500ml/kg) - N722,000</li>
                    </ul>
                    <button class="btn btn-primary">Order</button>
                </div>
            </article>
            <article class="pricing">
                <div class="price__card">
                    <h3 class="pricing__header">
                        Wholesale Price list perfume oil
                    </h3>
                    <ul class="price__list">
                        <li>3ml - N300/pc (MOQ-12)</li>
                        <li>6ml - N600/pc (MOQ-12)</li>
                        <li>15ml - N1,500/pc (MOQ-12)</li>
                        <li>50ml - N3,500/pc (MOQ-3)</li>
                        <li>100ml - N6,000/pc (MOQ-3)</li>
                    </ul>
                    <button class="btn btn-primary">Order</button>
                </div>
            </article>
        </div>
    </div>
</section>